.orderNumber{
    composes:  text_type_digits-large from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css'    ;
    composes: mb-8 mt-20 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css'    ;
    text-shadow: 0px 0px 10px var(--colors-interface-accent)

}
.orderNumberTitle{
    composes:  text_type_main-medium from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css'    ;
    composes: mb-15 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css'    ;
}
.icon {
height: 20px;
}
.readyText{
    composes:  text_type_main-default from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css'    ;
    composes: mb-1 mt-15 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css'    ;
}
.waitText{
    composes: text_type_main-default text_color_inactive from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css'    ;

    composes: mt-1 mb-20 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css'    ;
}



