.orderNumber{
    margin-top: 80px;
    margin-bottom: 32px;
}
.orderNumberTitle{
    margin-bottom: 60px;

}
.icon {
    
}
.readyText{
    margin-top: 60px;
    margin-bottom: 8px;
}
.waitText{
    margin-bottom: 80px;
}



