.elementContainer {
    position: relative;
    display: inline-block;
    composes: mr-4 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';

}



.container {
    display: flex;
    flex-direction: column;

    composes: mt-25 pl-4 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
}

.constructorList {
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* height: 800px; */
    overflow: auto;
    flex-grow: 1;
    composes: custom-scroll from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    composes: mb-4 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
}

.topSide {
    composes: mb-4 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
}

.bottomSide {
    composes: mb-10 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
}

.icon {
    /* width: 0; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}



.sumContainer {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    align-items: center;
    composes: mr-4 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';

}

.sumAndIcon {
    display: flex;
    gap: 8px;
    align-items: center;
}