.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 600px; */
}

.profileContainer {
    display: flex;
    /* align-items: center; */
    width: 840px;
  } 

  .content {
    width: 100%; /* Adjust as needed */
  }
  
  .navigation {
    width: 500px; /* Width of the left navigation block */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
  }
  
  .activeNav {
    composes: text text_type_main-medium from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css'    ;
  }
  .nav {
    composes: text text_type_main-medium text_color_inactive from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css'    ;
  }
  

  .navigationList {
    list-style: none; /* Remove bullets or dots */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
  }
  
  .navigationItem {
    text-decoration: none; /* Remove underlines from list items */
    composes: mb-8 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css'
    /* Add any other desired styles for list items */
  }

  li, li a {
    text-decoration: none;

  }