
.profileContainer {
  display: flex;

  width: fit-content;
  justify-content: space-between;
  margin-top: 40px;
  /* width: 600px; */
 width: 1140px;

}

.content {
width: 840px;
}

.navigation {
  width: 300px; /* Width of the left navigation block */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
}
/* li, li a {
  text-decoration: none;

} */

.navLink {
  text-decoration: none;
  composes: mb-8 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
  margin-bottom: 32px;

}

/* Add the underline to the <p> element on hover */
.navLink:hover {
  text-decoration: underline;
}

.activeLink{
  color: var(--text-primary-color);
  composes: text text_type_main-medium from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css'    ;
}

.inactiveLink {
  composes: text text_type_main-medium text_color_inactive from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css'    ;

}

.lowerText {
  composes: text text_type_main-small text_color_inactive from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css'    ;

}