.sectionContainer {
    display: flex;
    flex-direction: column;
    width: min-content;
    composes: mt-10 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
}

.header {
    display: flex;
    composes:  text_type_main-large from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    composes: mb-5 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
}

.tabs {
    display: flex;
    composes: mb-10 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css'    ;
}

.allIngredientsContainer {
    /* height: 0; */
    overflow-y: scroll;
    overflow-x: hidden;
    composes: custom-scroll     from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css'    ;

}
.typeIngredientsContainer {
    width: min-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 24px;
    align-items: start;
    /* width:100%; */
    composes: pb-10  pl-4 pt-6 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';

}
