.navigationItem {
    /* composes: m-4 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css' */
  }

  .buttonSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
  }