.modal{
    overflow: hidden;
    position: fixed;
    width: 600px;
    height: fit-content;
    z-index: 1000;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    border-radius: var(--common-border-radius);
    background-color: var(--background);

    padding: 40px;

}

.header{
    display: flex;
    width:100%;
    align-items: center;
    justify-content: space-between;

}

.icon{
    background-color: red;
    cursor: pointer;
    height: 0px;
}