.element {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.elements {
    display: flex;
    flex-direction: row;
    gap: 20px;
    composes: mb-5 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
}

.ingredientTitle{
    composes: mt-4 mb-8  from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';

}