.element {
    display: flex;
    flex-direction: column;
    align-items: center;
    composes: mr-5 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
}

.elements {
    display: flex;
    flex-direction: row;
    gap: 20px;
    composes: mb-5 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
}

.elements > :last-child {
    margin-right: 0;
  }

.ingredientTitle{
    composes: mt-4 mb-8 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
    composes: text_type_main-medium from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css'    ;
}

