.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 600px;
}

.constructorList{
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: auto;
    /* height: 800px; */
}

.icon {
    width: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.elementContainer {
    position: relative;
    display: inline-block;
}

.sumContainer {
    display: flex;
    justify-content: end;
    gap: 40px;
    align-items: center;

}

.sumAndIcon{
    display: flex;
    gap: 8px;
    align-items: center;
}