.container{
    width: min-content;
    display: flex;
    flex-grow: 1;
    gap:10px;
    flex-direction: column;
    /* overflow: hidden; */
    align-items: end;

}



.title{
    composes:  text_type_main-large from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
margin-top: 0;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 0px;
    text-align: left;
    width: 100%;
    min-width: 300px
}

.ordersList {
    max-height: calc(100vh - 230px); /* Adjust the height as needed */
    min-height: calc(300px); /* Adjust the height as needed */

    overflow-y: auto; /* Enable vertical scrolling when the content overflows the max height */
    composes: custom-scroll from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css';
    padding-right: 10px;
    margin-left: 0;
    padding-left: 0;
    width: fit-content;
    display: flex;
    flex-direction: column;
  }
